{% include 'judge_header.html' %}
<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
    <div class="card">
        <h5 class="card-header">Give Advice</h5>
        <div class="card-body">
            {% if messages %}
                {% for i in messages %}
                    <div class="alert alert-success">{{i}}</div>
                {% endfor %}
            {% endif %}
            <form  id="basicform" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="form-group">
                    <label for="inputUserName">Case Status</label>
                    <select class="form-control" name="case_status">
                        <option value="">Select</option>
                        <option value="Solved">Solved</option>
                        <option value="Unsolved">UnSolved</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="inputUserName">Judgement</label>
                    <textarea name="judgement" class="form-control"></textarea>  
                </div>
                <div class="row">
                    <div class="col-sm-6 pl-0">
                    </div>
                    <div class="col-sm-6 pl-0">
                        <p class="text-right">
                            <button type="submit" class="btn btn-space btn-primary">Give Advice</button>
                            <button type="reset" class="btn btn-space btn-secondary">Cancel</button>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% include 'footer.html' %}