{% include 'lawyer_header.html' %}
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <form method="get">{% csrf_token %}
        <div class="row" style="margin: 20px;">
            <div class="col-md-5">
                <input type="text" name="search" class="form-control" placeholder="Search By Case No/Case Type">
            </div>
            <div class="col-md-5">
                <input type="submit" class="btn btn-warning">
            </div>
        </div>
    </form>
    <div class="card">
        <h5 class="card-header">All Unsolved Case Details</h5>
        
        <div class="card-body">
            <div class="table-responsive ">
                <table class="table table-bordered">
                    <thead style="background: #ff407b;">
                        <tr class="white">
                            <th scope="col" >S.No</th>
                            <th scope="col">Case No</th>
                            <th scope="col">Case Type</th>
                            
                            <th scope="col">Case Happen Date</th>
                            <th scope="col">Case Status</th>
                            <th scope="col">Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if request.GET.search %}
                            {% for i in detail %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{i.case_no}}</td>
                                <td>{{i.case_type}}</td>
                                
                                <td>{{i.case_date}}</td>
                                <td>{{i.case_status}}</td>
                                <td><a href="{% url 'case_list' pk=i.id %}?case_no={{i.case_no}}" class="btn btn-success"><i class="fa fa-eye"></i></a></td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="8" class="text-center bg-primary">No Cases</td>
                            </tr>
                           {% endfor %}
                        {% else %}
                            {% for i in ids %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{i.case_no}}</td>
                                <td>{{i.case_type}}</td>
                                
                                <td>{{i.case_date}}</td>
                                <td>{% if i.case_status == 'Unsolved' %}<span class="badge badge-warning">{{i.case_status}}</span>
                                    {% else %}<span class="badge badge-success">{{i.case_status}}</span>{% endif %}</td>
                                <td><a href="{% url 'case_list' pk=i.id %}?case_no={{i.case_no}}" class="btn btn-success"><i class="fa fa-eye"></i></a></td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="8" class="text-center bg-primary">No Cases</td>
                            </tr>
                           {% endfor %}
                       {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}